$primary: #009bdf;
// light blue
$secondary: #EBF6FA;
// lightest blue-gray
$accent: #0072b3;
// medium blue
$dark: #00508f;
// dark blue
$gray: #666;
// dark gray
$soft-black: #1D2426;
// black
$black: #000;
// slightly darker black
$white: #FFF;
// pure white

body {
  color: $soft-black;
}

thead {
  background-color: $secondary;
}

tr {
  border-bottom: 1px solid $secondary;
}

#navbar-component {
  background-color: $primary;
  a {
    color: $gray;
  }
  .active {
    color: $white;
  }
}

#sidebar-component {
  background-color: $secondary;
  a {
    color: $soft-black;
  }
}

#dataconn-overview-component {
  table, #truth-overview-table {
    border: 1px solid $secondary;
  }

  td {
    border-bottom: 1px solid $secondary;
  }
}

#dec-content-component {
  form {
    border: 2px solid $secondary;
  }
  dropdown label, dropdown ul li {
    background-color: $white;
    color: $soft-black;
  }
  dropdown label {
    background-color: $white;
    color: $soft-black;
  }
  dropdown input:checked + label {
    background: $white;
    color: $soft-black;
  }

  $colors: $primary, $accent, $dark;

  @for $i from 1 through length($colors) {
    dropdown ul li:nth-child(#{length($colors)}n+#{$i}) {
      border-left: 4px solid nth($colors, $i);
      .fa{
        color: nth($colors, $i);
      }
      &:hover {
          background: nth($colors, $i);
          color: $white;
        .fa{
          color: $white;
        }
      }
    }
  }

}
