$break-small: 320px;
$break-large: 1200px;

body {
  box-sizing: border-box;
  margin: 0;
}

.fa-remove, .fa-gear {
  padding: 5px;
}

.fa-edit, .fa-remove, .fa-gear {
  cursor: pointer;
}

.fa {
 font-size: .8em;
  line-height: 22px !important;
}

.float-right{
  float: right;
}

.container {
  padding: 20px;
}

#navbar-component {
  padding: 20px;
  height: 35px;

  img {
    vertical-align: top;
    height: 100%;
  }

  li {
    display: inline-block;
    padding-left: 20px;
  }

  ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
    margin-top: 0;
  }

  #accounts-ui-component {
    display: inline-block;
  }

  #accounts-ui-component, #profile-picture, #user-alerts {
    margin-right: 20px;
  }

  #profile-picture {
    height: 30px;
    border-radius: 50%;
  }

  #user-info {
    height: 50%;
    float: right;
  }

  #user-alerts {
    display: inline-block;
    padding-top: 5%;
  }

}

#sidebar-component {
  float: left;
  display: inline-block;
  width: 20%;
  height: 90vh;
  padding: 0.5%;

  a {
    display: block;
    padding: 10px;
  }

  table {
    width: 100%;
  }

}

#dataconn-overview-component, #dataconn-detail-component {
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  margin: 0px;
  width: 71%;

  th, td {
    text-align: left;
    width: 10%;
    padding: 1%;
  }

  td.icons, th.icons {
    width: 4%;
  }

  form {
    padding: 20px;
    padding-top: 0px;
    margin-top: 40px;
    z-index: 1;
    height: 200px;
  }

  .truth-status {
    border: 1px solid;
    padding: 2px;
    border-radius: 2px;
  }

  #enter-truth-name {
    height: 30px;
    font-size: 15px;
    width: 50%;
    font-family: Lato;
    border-radius: 2px;
  }

  #truth-overview-table {
    border-radius: 3px;
    h3 {
      padding-left: 20px;
    }
  }

  dropdown {
    display: inline-block;
    width: 100%;
    display: block;
    height: 300px;
    overflow: scroll;
  }
  dropdown label, dropdown ul li {
    display: block;
    width: 50%;
  }
  dropdown ul li {
    padding: 10px;
    z-index: 2;
  }
  dropdown label:hover, dropdown ul li:hover {
    cursor: pointer;
  }
  dropdown label {
    position: relative;
    z-index: 2;
    padding: 10px;
    padding-left: 0px;
  }
  dropdown input {
    display: none;
  }
  dropdown input ~ ul {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px;
    z-index: 1;
  }

  dropdown input:checked ~ ul{
    visibility: visible;
    opacity: 1;
    top: 0;
  }

}
